.hero_block {
  background-image: url(../img/bg-1.jpg);
  background-color: $cyan;
  background-size: cover;
  color: $white;
  padding-top: 150px;
  padding-bottom: 150px;
  &__container {
    @include make-container();
    @include make-container-max-widths();
  }
  &__title {
    width: 430px;
    font-family: $title-font;
    font-weight: 600;
  }
  &__text {
    width: 530px;
  }
  &__button {
    width: 290px;
    height: 40px;
    background-color: $orange;
    font-family: $btn-font;
    font-weight: 700;
  }
}